<ul class="social">
  <li id="soundcloud"><a href="http://soundcloud.com/djpaulsutcliffe" target="_blank"></a></li>
  <li id="facebook"><a href="http://www.facebook.com/djpaulsutcliffe" target="_blank"></a></li>
  <li id="twitter"><a href="http://twitter.com/#!/paulyoyo" target="_blank"></a></li>
  <li id="rss"><a></a></li>
</ul>
